.headerpage {
    height: 55px;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    /* background-color: red; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.headerpage__menubar {
    width: 18px;
}

.navbar__items-box-header {
    display: none;
}

.navbar__item-header {
    display: none;
}

/* Desktop */
@media screen and (min-width: 992px) {
    .headerpage__menubar {
        display: none;
    }

    .headerpage {
        height: 85px;
        padding: 0;
    }

    .navbar__items-box-header {
        display: flex;

        height: auto;
        width: min-content;
        flex-direction: row;
        gap: 20px;
    }

    .navbar__item-header {
        display: flex;

        padding: 0;
        margin: 0;
        font-size: 0.875rem;
        color: var(--color-dark-blue);
        border: none;
        text-decoration: none;

        white-space: nowrap;
    }
}